.button {
    cursor: pointer;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    border-radius: var(--rounded-sm);
    padding: 12px 16px;
    font-weight: 500;
    &--primary {
        color: #fff;
        background-color: var(--color-primary);
        transition: background 200ms ease-in-out;
        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
    &--icon {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        i {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &--download {
        font-weight: 500;
        color: var(--color-black);
        border-color: var(--color-black);
        display: inline-flex;
        align-items: center;
        gap: 8px;
        transition: all .3s;
        i {
            --size: 28px;
            max-width: var(--size);
            min-width: var(--size);
            width: var(--size);
            height: var(--size);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-primary);
            border-radius: 50%;
            transition: all .3s;
            color: #FFF;
        }
        &:is(:hover,:active) {
            border-color: var(--color-primary);
            background-color: var(--color-primary);
            color: #FFF;
            i {
                background-color: #fff;
                color: var(--color-primary);
            }
        }
    }
}