.bread-crumbs {
    width: 100%;
    padding-block: 1.5rem;
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        &Item {
            position: relative;
            display: inline-flex;
            margin-right: 12px;
            &:first-child {
                color: var(--color-black);
            }
            &:not(:first-child) {
                &::before {
                    position: absolute;
                    content: '›';
                    top: 50%;
                    left: -14px;
                    transform: translateY(-50%);
                    opacity: .7;
                }
            }
        }
        &Link {
            font-size: 14px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}