.loader-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black-secondary);
    z-index: 90;
    transition: opacity 0.5s ease; // Плавный переход для исчезновения
    opacity: 1; // Начальная непрозрачность
    &.fade-out {
        opacity: 0; // Непрозрачность 0 для плавного исчезновения
    }
    // .loader-wrapper__content

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .loader-wrapper__objects

    &__objects {
        width: 16px;
        height: 16px;
        position: relative;
        left: -32px;
        border-radius: 50%;
        color: #fff;
        background: currentColor;
        box-shadow: 32px 0 , -32px 0 ,  64px 0;
        &::after {
            content: '';
            position: absolute;
            left: -32px;
            top: 0;
            width: 16px;
            height: 16px;
            border-radius: 10px;
            background: var(--color-primary);
            animation: move 3s linear infinite alternate;
        }
    }
}

@keyframes move {
    0% , 5%{
      left: -32px;
      width: 16px;
    }
    15% , 20%{
      left: -32px;
      width: 48px;
    }
    30% , 35%{
      left: 0px;
      width: 16px;
    }
    45% , 50%{
      left: 0px;
      width: 48px;
    }
    60% , 65%{
      left: 32px;
      width: 16px;
    }
  
    75% , 80% {
      left: 32px;
      width: 48px;
    }
    95%, 100% {
      left: 64px;
      width: 16px;
    }
}