.logo {
    // .logo__link

    &__link {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    // .logo__icon

    &__icon {
        --size: 96px;
        width: var(--size);
        height: var(--size);
        object-fit: contain;
    }

    &__alt {
        display: grid;
        row-gap: 6px;
        max-width: 310px;
    }

    // .logo__text

    &__name {
        font-weight: 500;
        color: var(--color-black-secondary);
    }

    &__slogan {
        color: var(--color-muted);
        font-weight: 500;
    }
}