.navbar {

	// .navbar__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .navbar__item

	&__item {
		display: inline-flex;
	}

	// .navbar__link

	&__link {
		font-weight: 600;
		text-align: center;
		color: var(--color-black);
		transition: color 300ms ease-in-out;
		&:hover {
			color: var(--color-primary);
		}
	}
}