.navigator-sidebar {
    width: 100%;
    padding-top: 44px;
    padding-bottom: 44px;
    background: var(--color-background);


    // .navigator-sidebar__wrapper

    &__wrapper {
        width: 100%;
        padding: 16px 16px;
        border-radius: var(--rounded-md);
        background-color: var(--color-background-secondary);
    }

    // .navigator-sidebar__list

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    // .navigator-sidebar__list-item

    &__list-item {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    // .navigator-sidebar__list-link

    &__list-link {
        width: 100%;
        padding: 2px;
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 8px;
        i {
            color: var(--color-primary);
        }
        &:hover {
            .navigator-sidebar__list-linkText {
                color: var(--color-primary);
            }
        }
    }

    // .navigator-sidebar__list-linkText

    &__list-linkText {
        color: var(--color-black);
        font-weight: 500;
        transition: color .2s;
    }
}