.reports-page {
    width: 100%;
    padding-block-end: var(--section-offset);
    .reports__calendar-info {
        width: 100%;
    }
    .reports__calendar-list {
        padding: 0;
    }
    &__container {
    }

    // .reports-page__headWrapper

    &__headWrapper {
    }

    // .reports-page__context

    &__context {
        width: 100%;
        padding: 30px 30px;
        border-radius: var(--rounded-md);
        background-color: var(--color-background-secondary);
    }

    // .reports-page__list

    &__list {
        width: 100%;
    }

    // .reports-page__item

    &__item {
        &:last-child {
            .reports-page__item-wrapper {
                padding-block-end: 0px;
            }
        }
        &:first-child {
            .reports-page__item-wrapper {
                padding-block-start: 0px;
            }
        }
        &:not(:last-child) {
            .reports-page__item-wrapper {
                border-bottom: 1px solid var(--color-border-secondary);
            }
        }
    }

    // .reports-page__item-wrapper

    &__item-wrapper {
        padding-block-start: 20px;
        padding-block-end: 20px;
    }

    // .reports-page__item-date

    &__item-date {
        font-size: 12px;
        opacity: .7;
        margin-block-end: 2px;
    }

    // .reports-page__item-name

    &__item-name {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: var(--color-primary);
        transition: color 200ms;
        &:is(:hover, :focus) {
            color: var(--color-heading);
        }
    }

    // .reports-page__item-link

    &__item-link {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
    }
}
.container {
}
